fastapi
uvicorn
openai
tiktoken
markdown
pandas
statsmodels
faiss-cpu
scikit-learn
python-multipart
openpyxl
numpy


pip install fastapi uvicorn openai tiktoken markdown pandas statsmodels faiss-cpu scikit-learn python-multipart openpyxl numpy
