<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>Análisis</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet" />
</head>

<body class="relative overflow-hidden">
    <!-- Header -->
    <div class="bg-black text-white p-4 flex items-center sticky top-0 z-10 header">
        <div class="w-1/8">
            <h1 class="text-1xl ml-4 flex-grow">
                <a href="/" class="icon-group">
                    <span class="material-symbols-outlined icons">home</span>
                    INICIO
                </a>
            </h1>
        </div>
        <div class="w-1/8 items-center relative group z-50">
            <h1 class="text-1xl ml-8 flex-grow">
                <a href="#" class="icon-group pagina-activa" id="analisisLink">
                    <span class="material-symbols-outlined icons">analytics</span>
                    ANÁLISIS
                    <span class="material-symbols-outlined icon">stat_minus_1</span>
                </a>
            </h1>
            <!-- Dropdown Content -->
            <div class="dropdown-content hidden absolute bg-black mt-2 w-44 z-50 rounded-md shadow-lg group-hover:block">
                <h1 class="text-1xl px-4 py-2 flex-grow">
                    <a href="#" id="estadisticasLink" class="icon-group" onclick="pagina_estadisticas()">
                        <span class="material-symbols-outlined icons">bar_chart</span>
                        ESTADÍSTICAS
                    </a>
                </h1>
                <h1 class="text-1xl px-4 py-2 flex-grow">
                    <a href="/templates/analisis.html" id="correlacionLink" class="icon-group pagina-activa">
                        <span class="material-symbols-outlined icons">grain</span>
                        CORRELACIÓN
                    </a>
                </h1>
                <h1 class="text-1xl px-4 py-2 flex-grow">
                    <a href="#" id="prediccionLink" class="icon-group" onclick="pagina_prediccion()">
                        <span class="material-symbols-outlined icons">network_node</span>
                        PREDICCIÓN
                    </a>
                </h1>
            </div>
        </div>
        <div class="w-1/8 items-center">
            <h1 class="text-1xl ml-8 flex-grow">
                <a href="#" class="icon-group" id="ayuda-link" onclick="ayuda()">
                    <span class="material-symbols-outlined icons">help</span>
                    AYUDA
                </a>
            </h1>
        </div>
    </div>
    <!-- Análisis -->
    <div class="p-4 mx-auto overflow-hidden" id="analisis">
        <div class="margen-gris">
            <div class="analisis-title" id="transicionC">
                <h1 class="text-center text-xl">ANÁLISIS DE CORRELACIÓN</h1>
            </div>
        </div>

        <div class="container">
            <div class="chart-column" id="charts-container-1">
                <h1 class="pt-5 pb-2 text-center text-xl">Promedio de Mensajes</h1>
                <!-- <canvas id="correlationChart" width="800" height="400"></canvas> -->
            </div>
            <div class="chart-column" id="charts-container-2">
                <h1 class="pt-5 pb-2 text-center text-xl">Longitud Promedio de Mensajes</h1>
                <!-- Aquí puedes añadir el contenido de charts-container-2 -->
            </div>
            <div class="chart-column" id="charts-container-3">
                <h1 class="pt-5 pb-2 text-center text-xl">Dispersión Promedio de Mensajes</h1>
                <!-- Aquí puedes añadir el contenido de charts-container-3 -->
            </div>
        </div>
        <div class="container2" id="container2" style="display: none;">
            <h1 class="pt-5 pb-2 text-center text-xl">Valores de los alumnos evaluados</h1>
            <div class="eval-container">
                <div class="chart-column" id="charts-container-4">
                    <h1 class="pt-5 pb-2 text-center text-xl">% Relacion con la asignatura</h1>
                    <!-- <canvas id="correlationChart" width="800" height="400"></canvas> -->
                </div>
                <div class="chart-column" id="charts-container-5">
                    <h1 class="pt-5 pb-2 text-center text-xl">% Conocimiento sobre la asignatura</h1>
                    <!-- <canvas id="correlationChart" width="800" height="400"></canvas> -->
                </div>
            </div>
        </div>
        <div class="container3" id="container3" style="display: none;">
            <h1 class="pt-5 pb-2 text-center text-xl">Atributos calculados por IA</h1>
            <div class="atrib-container">
                <div class="chart-column" id="charts-container-6">
                    <h1 class="pt-5 pb-2 text-center text-xl">% Relacion con la asignatura</h1>
                    <!-- <canvas id="correlationChart" width="800" height="400"></canvas> -->
                </div>
                <div class="chart-column" id="charts-container-7">
                    <h1 class="pt-5 pb-2 text-center text-xl">% Conocimiento sobre la asignatura</h1>
                    <!-- <canvas id="correlationChart" width="800" height="400"></canvas> -->
                </div>
            </div>
        </div>
    </div>
    <div id="ayuda_header">
        <div class="ayuda_header">
            <a href="/templates/analisis.html" class="p-2 ml-5 text-1xl icon-group">
                <span class="material-symbols-outlined p-1 icons">arrow_back</span>
            </a>
            <div class="ayuda_title">
                <h1>AYUDA CORRELACIÓN</h1>
            </div>
        </div>
    </div>
    <div class="mx-auto overflow-hidden" id="help-container">
        <div class="guide-container" id="help">
            <h1>Análisis de correlación</h1>
            <p>En esta página puedes analizar la correlación entre las notas de los alumnos y diversas características relacionadas con su actividad en las conversaciones. A continuación, se describen las funcionalidades disponibles:</p>
            <ul>
                <li>
                    <strong>Gráficos de Correlación:</strong>
                    <ul>
                        <li>Se muestran gráficos que relacionan las notas de los alumnos con las siguientes características:</li>
                        <ul>
                            <li><strong>Promedio de Mensajes:</strong> Muestra cómo el promedio de mensajes enviados por un alumno se correlaciona con su nota.</li>
                            <li><strong>Longitud Promedio de Mensajes:</strong> Analiza la relación entre la longitud promedio de los mensajes y la nota obtenida.</li>
                            <li><strong>Dispersión Promedio de Mensajes:</strong> Examina la variabilidad en la longitud de los mensajes y su impacto en las notas.</li>
                        </ul>
                        <li>Cada gráfico incluye el <strong>coeficiente de correlación</strong>, que indica la fuerza y dirección de la relación entre las variables.</li>
                        <ul>
                            <li><strong>Coeficiente cercano a 1:</strong> Existe una fuerte correlación positiva.</li>
                            <li><strong>Coeficiente cercano a -1:</strong> Existe una fuerte correlación negativa.</li>
                            <li><strong>Coeficiente cercano a 0:</strong> Indica que no existe una relación lineal clara entre las dos variables.</li>
                        </ul>
                    </ul>
                </li>
                <li>
                    <strong>Valores de evaluación:</strong>
                    <ul>
                        <li>Si ya has evaluado previamente las conversaciones, estos valores se muestran y se incluyen en los gráficos de correlación con las notas.</li>
                    </ul>
                </li>
                <li>
                    <strong>Atributos calculados:</strong>
                    <ul>
                        <li>Al igual que los valores de evaluación, estos atributos solo se muestran y se consideran en los gráficos si ya han sido calculados previamente.</li>
                    </ul>
                </li>
            </ul>
            <p>Con estas herramientas, puedes explorar cómo las características de las conversaciones están relacionadas con el desempeño académico de los alumnos y obtener información valiosa para optimizar su aprendizaje.</p>
        </div>
    </div>
    <link href="/css/style.css" rel="stylesheet" />
    <script src="/js/analisis.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@3.0.1/dist/chartjs-plugin-annotation.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            transicionCorrelacion();
            analisis();
        });
    </script>
</body>
</html>

