<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>Conversations</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet" />
</head>

<body class="relative overflow-hidden">
    <!-- Header -->
    <div class="bg-black text-white p-4 flex items-center sticky top-0 z-20 header">
        <div class="w-1/8">
            <h1 class="text-1xl ml-4 flex-grow">
                <a href="/" class="icon-group">
                    <span class="material-symbols-outlined icons">home</span>
                    INICIO
                </a>
            </h1>
        </div>
        <div class="w-1/8 items-center relative group z-50">
            <h1 class="text-1xl ml-8 flex-grow">
                <a href="#" class="icon-group pagina-activa" id="analisisLink">
                    <span class="material-symbols-outlined icons">analytics</span>
                    ANÁLISIS
                    <span class="material-symbols-outlined icon">stat_minus_1</span>
                </a>
            </h1>
            <!-- Dropdown Content -->
            <div class="dropdown-content hidden absolute bg-black mt-2 w-44 z-50 rounded-md shadow-lg group-hover:block">
                <h1 class="text-1xl px-4 py-2 flex-grow">
                    <a href="/templates/conversaciones.html" id="estadisticasLink" class="icon-group pagina-activa">
                        <span class="material-symbols-outlined icons">bar_chart</span>
                        ESTADÍSTICAS
                    </a>
                </h1>
                <h1 class="text-1xl px-4 py-2 flex-grow">
                    <a href="#" id="correlacionLink" class="icon-group" onclick="pagina_correlacion()">
                        <span class="material-symbols-outlined icons">grain</span>
                        CORRELACIÓN
                    </a>
                </h1>
                <h1 class="text-1xl px-4 py-2 flex-grow">
                    <a href="#" id="prediccionLink" class="icon-group" onclick="pagina_prediccion()">
                        <span class="material-symbols-outlined icons">network_node</span>
                        PREDICCIÓN
                    </a>
                </h1>
            </div>
        </div>
        <div class="w-1/8 items-center">
            <h1 class="text-1xl ml-8 flex-grow">
                <a href="#" class="icon-group" id="ayuda-link" onclick="ayuda()">
                    <span class="material-symbols-outlined icons">help</span>
                    AYUDA
                </a>
            </h1>
        </div>
        <div class="w-1/2 mx-auto mr-4 ml-20" style="text-align: right">
            <input class="p-2 text-black rounded w-full" id="search-input"
                   placeholder="Buscar mensajes..." style="max-width: 900px;" type="text" />
        </div>
    </div>

    <!-- Main content -->
    <div class="flex h-screen z-10" id="container" style="height: calc(100vh - 64px);">
        <!-- Sidebar -->
        <div class="w-1/3 p-2 bg-gray-200 overflow-y-auto" id="sidebar">

            <!-- Conversations dropdown menu -->
            <div class="sticky top-0 bg-gray-200 mt-0 z-10">
                <div class="flex justify-between items-center mb-0">
                    <div class="p-2 w-full">
                        <select class="mt-1 p-2 w-full rounded-md" id="jsonSelect" onchange="handleConversationSelect()">
                            <option value="">Selecciona una conversación...</option>
                            <!-- Conversations options will be populated dynamically -->
                        </select>
                    </div>
                </div>
            </div>

            <!-- Sticky filter section -->
            <div class="sticky bg-gray-200 mt-0 z-10" style="top: 59px;">
                <div class="flex justify-between items-center mb-4">
                    <div class="p-2 w-full">
                        <select class="mt-1 p-2 w-full rounded-md" id="groupFilter">
                            <option value="">Todo</option>
                            <option value="*">* Favoritos *</option>
                            <!-- Group options will be populated dynamically -->
                        </select>
                    </div>
                    <div class="p-2 w-full">
                        <input class="mt-1 p-2 w-full rounded-md" id="textFilter" placeholder="Filtro rápido..." type="text" />
                    </div>
                </div>
            </div>

            <div id="sidebar-conversations" style="margin-top: -1rem">
                <!-- Conversations -->
            </div>
        </div>

        <!-- Main content wrapper -->
        <div class="w-2/3 overflow-y-auto" id="main-content-wrapper">
            <!-- Central content -->



            <div class="p-4 mx-auto overflow-hidden" id="main-content" style="max-width: 730px;">
                <!-- Messages -->
            </div>

            <!-- Gráficos y estadísticas -->
            <div class="p-4 mx-auto overflow-hidden" id="grafics" style="max-width: 730px;">
                <h1 class="pt-10 pb-2 text-center text-xl">Actividad de chat</h1>
                <div id="activity-graph"></div>

                <h1 class="pt-10 pb-4 text-center text-xl">Mensajes diarios</h1>
                <canvas id="activity-bar-chart"></canvas>

                <h1 class="pt-8 pb-4 text-center text-xl">Estadísticas</h1>
                <div class="w-3/4 mx-auto pt-6" id="chat-statistics"></div>

                <h1 class="pt-8 pb-4 text-center text-xl">Notas</h1>
                <div class="w-3/4 mx-auto pt-6" id="notes"></div>

                <h1 class="pt-8 pb-4 text-center text-xl">Valores evaluación</h1>
                <div class="w-3/4 mx-auto pt-6 pb-6" id="valor_eval"></div>

                <h1 class="pt-8 pb-4 text-center text-xl">Atributos calculados (IA)</h1>
                <div class="w-3/4 mx-auto pt-6 pb-6" id="atrib"></div>
            </div>
        </div>
    </div>

    <div id="ayuda_header">
        <div class="ayuda_header">
            <a href="/templates/conversaciones.html" class="p-2 ml-5 text-1xl icon-group">
                <span class="material-symbols-outlined p-1 icons">arrow_back</span>
            </a>
            <div class="ayuda_title">
                <h1>AYUDA ESTADÍSTICAS</h1>
            </div>
        </div>
    </div>
    <div class="mx-auto overflow-hidden" id="help-container">
        <div class="guide-container" id="help">
            <h1>Análisis de las conversaciones</h1>
            <p>En esta página puedes analizar las conversaciones de los alumnos. A continuación, te explicamos cada funcionalidad disponible:</p>
            <ul>
                <li>
                    <strong>Lista de conversaciones:</strong>
                    <ul>
                        <li>Muestra las conversaciones almacenadas.</li>
                        <li>Puedes seleccionar una conversación para analizarla en detalle.</li>
                    </ul>
                </li>
                <li>
                    <strong>Gráficos de actividad:</strong>
                    <ul>
                        <li><strong>Actividad del chat:</strong> Visualiza los días en los que hubo interacciones en el chat seleccionado.</li>
                        <li><strong>Mensajes diarios:</strong> Muestra un gráfico con el número de mensajes enviados diariamente.</li>
                    </ul>
                </li>
                <li>
                    <strong>Estadísticas:</strong>
                    <ul>
                        <li>Información relevante de la conversación seleccionada, como la antigüedad del último mensaje o el promedio de mensajes.</li>
                    </ul>
                </li>
                <li>
                    <strong>Notas:</strong>
                    <ul>
                        <li>Si has cargado el archivo Excel con las notas, se mostrarán aquí las notas del alumno seleccionado.</li>
                    </ul>
                </li>
                <li>
                    <strong>Valores de evaluación:</strong>
                    <ul>
                        <li>Si la conversación ya ha sido evaluada, podrás ver los porcentajes asignados previamente.</li>
                    </ul>
                </li>
                <li>
                    <strong>Atributos calculados:</strong>
                    <ul>
                        <li>Muestra los atributos extraídos automáticamente de la conversación, si ya se han calculado.</li>
                    </ul>
                </li>
                <li>
                    <strong>Búsqueda en conversaciones:</strong>
                    <ul>
                        <li>Incluye un buscador para encontrar palabras o frases específicas dentro de la conversación.</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <link href="/css/style.css" rel="stylesheet" />
    <script src="/js/conversaciones.js"></script>
    <script src="/js/activity.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@3.0.1/dist/chartjs-plugin-annotation.min.js"></script>
</body>

</html>