<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>Entrenamiento</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet" />
</head>

<body class="relative overflow-hidden">
    <!-- Header -->
    <div class="bg-black text-white p-4 flex items-center sticky top-0 z-10 header" id="header">
        <div class="w-1/8">
            <h1 class="text-1xl ml-4 flex-grow">
                <a href="/" class="icon-group">
                    <span class="material-symbols-outlined icons">home</span>
                    INICIO
                </a>
            </h1>
        </div>
        <div class="w-1/8 items-center relative group z-50">
            <h1 class="text-1xl ml-8 flex-grow">
                <a href="#" class="icon-group pagina-activa" id="inicio-link">
                    <span class="material-symbols-outlined icons">analytics</span>
                    ANÁLISIS
                    <span class="material-symbols-outlined icon">stat_minus_1</span>
                </a>
            </h1>
            <!-- Dropdown Content -->
            <div class="dropdown-content hidden absolute bg-black mt-2 w-44 z-50 rounded-md shadow-lg group-hover:block">
                <h1 class="text-1xl px-4 py-2 flex-grow">
                    <a href="#" id="estadisticasLink" class="icon-group" onclick="pagina_conversaciones()">
                        <span class="material-symbols-outlined icons">bar_chart</span>
                        ESTADÍSTICAS
                    </a>
                </h1>
                <h1 class="text-1xl px-4 py-2 flex-grow">
                    <a href="#" id="correlacionLink" class="icon-group" onclick="pagina_correlacion()">
                        <span class="material-symbols-outlined icons">grain</span>
                        CORRELACIÓN
                    </a>
                </h1>
                <h1 class="text-1xl px-4 py-2 flex-grow">
                    <a href="#" class="icon-group pagina-activa">
                        <span class="material-symbols-outlined icons">network_node</span>
                        PREDICCIÓN
                    </a>
                </h1>
            </div>
        </div>
        <div class="w-1/8 items-center">
            <h1 class="text-1xl ml-8 flex-grow">
                <a href="#" class="icon-group" id="ayuda-link" onclick="ayuda()">
                    <span class="material-symbols-outlined icons">help</span>
                    AYUDA
                </a>
            </h1>
        </div>
    </div>

    <!-- Overlay y Modal específico -->
    <div id="custom-modal-overlay" style="display: none;">
        <div id="custom-modal">
            <button class="close-button-custom icon-group" onclick="closeCustomModal()">
                <span class="material-symbols-outlined p-1 icons">close</span>
            </button>
            <iframe id="custom-modal-iframe" src="" width="100%" height="100%" frameborder="0"></iframe>
        </div>
    </div>

    <!-- Entrenamiento -->
    <div class="p-4 mx-auto overflow-hidden mx-auto" id="analisis">
        <div class="margen-gris">
            <div class="entrenamiento-title" id="transicionP">
                <h1 class="text-center text-xl">PREDICCIÓN</h1>
            </div>
        </div>
        <div class="items-center mt-10 p-5  mx-10 entrenamiento-container">
            <select class="pt-2 pb-2 mb-4 text-center text-xl entrenamiento-select" id="select-entrenamiento">
                <option selected>Algoritmo KNN</option>
                <option>Algoritmo Árbol de decisión</option>
                <option>Algoritmo XGBoost</option>
                <option>Red neuronal MLP</option>
            </select>
            <div class="entrenamiento-container2 p-4 text-center">

                <div class="entrenamiento-content">
                    <h1 class="text-xl text-white p-1">Seleccionar conjunto de características</h1>
                </div>
                <div class="entrenamiento-content">
                    <h1 class="text-xl text-white p-1">Seleccionar etiqueta (a predecir)</h1>
                </div>
                <div class="entrenamiento-content">
                    <h1 class="text-xl text-white p-1">Elegir % de prueba</h1>
                </div>

                <div class="entrenamiento-caracteristicas">
                    <select class="custom-select text-xl" id="select-caracteristicas" multiple>
                        <option>Promedio de mensajes</option>
                        <option>Longitud promedio de mensajes</option>
                        <option>Dispersión de los mensajes</option>
                        <!-- Notas -->
                    </select>
                </div>
                <div class="entrenamiento-etiquetas">
                    <select class="text-xl text-center pt-2 pb-2" id="select-etiqueta">
                        <!-- Options -->
                    </select>
                </div>
                <div class="entrenamiento-barra">
                    <input id="input" type="range" min="1" max="70" step="any" value="20" />
                    <p><output id="value"></output>%</p>
                </div>
            </div>
        </div>

        <div class="boton-entrenar">
            <button class="bg-black text-xl p-2 rounded w-full text-white" id="boton-to-train" onclick="enviarDatos()">
                Generar Modelo
            </button>
        </div>

        <!-- Resultado Entrenamiento -->
        <div id="all-results">
            <!-- Aquí se añadirán los resultados -->
        </div>

        <div id="prediccionModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="cerrarFormularioPrediccion()">&times;</span>
                <h2>Introduzca los chats de los alumnos para predecir</h2>
                <div class="modal-scroll">
                    <div class="cargar-chats" id="cargar-zip">
                        <h1>Cargar un archivo ZIP</h1>
                        <form id="upload-form">
                            <input name="file" type="file" accept=".zip">
                            <button type="submit" class="p-2 bg-black text-white text-1xl w-2/4 rounded-full icon-group">
                                <span class="material-symbols-outlined p-1 icons">upload</span>
                            </button>
                        </form>
                        <div id="loading-indicator" style="display: none;">
                            <center><img src="/load.gif" alt="Cargando..." /></center>
                            <p>Este proceso puede durar varios minutos.</p>
                        </div>
                        <div id="result"></div>
                        <div id="error"></div>
                    </div>
                </div>
                <div class="button-container">
                    <button id="button-aceptar" class="boton-disabled" onclick="aceptar()">Aceptar</button>
                </div>
            </div>
        </div>

    </div>
    <link href="/css/style.css" rel="stylesheet" />
    <script src="/js/entrenamiento.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@3.0.1/dist/chartjs-plugin-annotation.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
        transicionPrediccion();
        caracteristicas();
        });
    </script>
    <script>
        const value = document.querySelector("#value");
        const input = document.querySelector("#input");
        value.textContent = input.value;
        input.addEventListener("input", (event) => {
        value.textContent = Math.round(event.target.value);
        });
    </script>
</body>
</html>

